html {
    cursor: url("../img/capture.png") 30 30, auto; 
}

.info{
    display: none;
    font-family: 'Ubuntu', sans-serif;
    line-height: 1rem;
}

.info .email{
    color: #26B7D3;
    font-style: italic;
}

.info-icon{
    display: flex;
    justify-content: space-between;
}

.info-icon img{
    width: 50px;
    padding: 5px;
}

.icon-close{
    display: none;
}

.icon-close.show{
    display: initial;
}

.info-description{
    position: absolute;
    z-index: 3;
    width: 100vw;
    height: 100%;
    padding: 10px;
    background-color: rgb(0, 0, 0, 0.6);

    left: -100%;
    transition: 0.3s;
}

.info-description p{
    margin-top: 0.9rem;
    padding: 0.5rem;
    background: #fff;
    border-radius: 0.3rem;
}

.info-description.show{
    left: 0;
}

body{
    background: #000 url(../img/bg.jpg) no-repeat; 
    max-width: 1200px;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
}



.bee1{
    width: 50px;
    height: 50px;
}

.bee2{
    width: 70px;
    height: 70px;
}

.bee3{
    width: 90px;
    height: 90px;
}

.sideA{
    transform: scaleY(1);
}

.sideB{
    transform: scaleY(-1);
}

.panel{
    position: absolute;
    width: 190px;
    padding: 10px;
    bottom: 0px;
    left: 0px;
    border-top: solid 1px #fff;
    background-color: #fff;
    opacity: 0.7;
}

.lifes{
    float: left;
}

.time{
    float: left;
    font-size: 20px;
    font-weight: bold;
}

footer{
    padding-top: 20px;
}

address {
    text-align: center;
    margin-bottom: 0;
    bottom: 0;
}

address a {
    color: #fff;
}

address a:hover {
    color: rgb(15, 13, 13);
    text-decoration: none;
}

@media (max-width: 1200px) {
    .info{
        display: initial;
    }

    .bee1{
        width: 35px;
        height: 35px;
    }
    
    .bee2{
        width: 40px;
        height: 40px;
    }
    
    .bee3{
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 1050px) {

    body{
        background: #000 url(../img/bg.jpg) no-repeat; 
        margin: 0;
        width: 100vw; 
        height: 100vh; 
        background-repeat: no-repeat;
    }

    .logo-image img{
        max-width: 100%;
        padding-left: 1.5rem;
    }

    .game-victory img{
        max-width: 100%;
    }

    .game-over-img img{
        max-width: 100%;
    }

    .panel img{
        max-width: 100%;
    }
}

@media (max-height: 760px) {
    .info{
        font-size: 0.9rem;
    }
}

@media (max-height: 675px) {
    .info{
        font-size: 0.8rem;
    }
}

@media (max-width: 466px) {
    footer{
        padding-top: 60%;
    }
}


