.bee1{
    width: 50px;
    height: 50px;
}

.bee2{
    width: 70px;
    height: 70px;
}

.bee3{
    width: 90px;
    height: 90px;
}

.sideA{
    transform: scaleY(1);
}

.sideB{
    transform: scaleY(-1);
}